<header class="pokedex-header">
  <div class="header-top">
    <a [routerLink]="['/pokemons']">
      <img [ngClass]="{'full-width-logo': !showSearchAndFilter}" class="pokedex-logo" src="/assets/pokedex-header.svg" alt="Pokédex">
    </a>

    @if (showSearchAndFilter) {
      <input type="text" class="search-input" placeholder="Rechercher un Pokémon..." (input)="onSearch($event)">
    }
  </div>

  @if (showSearchAndFilter) {
    <div class="type-filter">
      <app-pokemon-filter (typeSelected)="onTypeSelected($event)"></app-pokemon-filter>
    </div>
  }
</header>
